{
  "name": "${node_pkg}",
  "version": "${node_version}",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/MarioArnt/robespierre.git"
  },
  "author": "Mario Arnautou <mario.arnautou@gmail.com>",
  "homepage": "https://github.com/MarioArnt/robespierre#readme",
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ]
}
